# 빌드 디렉토리
/backend/build/
/backend/.gradle/
/backend/out/
/frontend/build/
/frontend/node_modules/

# 환경 설정 파일
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 로그 파일
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE 파일
.idea/
.vscode/
*.iml
*.iws
*.ipr

# 운영체제 파일
.DS_Store
Thumbs.db